html {
    background-image: url("../images/background.jpg");
    background-size:cover;
}

.header {
    text-align: center;
    color: white;
    font-size: 50px;
}

.menu-text {
    color: white;
    font-size: 35px;
}

.fighters {
    background-color: lightgreen;
}

.enemies {
    background-color: lightblue;
}

.fighter {
    background-color: lightcoral;
}


.hero-btn {
    border: 2px solid gray;
    display:inline-block;
    text-align: center;
    height: 150px;
    width: 150px;
}

.hero-btn:hover {
    background-color: gray; 
}

.not-in-play {
    background-color: black;
}

.not-in-play:hover {
    background-color: black;
}

img {
    width: 75%;
    height: 75%;
}

.buttons {
    font-size: 25px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons:hover {
    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 2px;
}

#battle-stats {
    width: 620px;
    height: 150px;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 20px;
}

#reset-btn {
    display: none;
}